.sub-main-body, .main-body .user-Name-Dashboard, .main-body .user-Email-Dashboard, .main-body .user-Qualification-Dashboard, .main-body .user-Occupation-Dashboard, .main-body .user-Address-Dashboard, .main-body .user-Age-Dashboard, .main-body .user-Gender-Dashboard {
	 height: 14.21%;
	 width: 100%;
	 display: flex;
	 justify-content: none;
	 align-items: none;
}
 .sub-sub1-main-body, .main-body .user-Name-Dashboard .name-Text, .main-body .user-Email-Dashboard .Email-Text, .main-body .user-Qualification-Dashboard .Qualification-Text, .main-body .user-Occupation-Dashboard .Occupation-Text, .main-body .user-Address-Dashboard .Address-Text, .main-body .user-Age-Dashboard .Age-Text, .main-body .user-Gender-Dashboard .Gender-Text {
	 height: 100%;
	 width: 30%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .sub-sub2-main-body, .main-body .user-Name-Dashboard .name-TextField, .main-body .user-Email-Dashboard .Email-TextField, .main-body .user-Qualification-Dashboard .Qualification-TextField, .main-body .user-Occupation-Dashboard .Occupation-TextField, .main-body .user-Address-Dashboard .Address-TextField, .main-body .user-Age-Dashboard .Age-TextField, .main-body .user-Gender-Dashboard .Gender-TextField {
	 height: 100%;
	 width: 70%;
	 display: flex;
	 justify-content: flex-start;
	 align-items: center;
}
 .user-Dashboard-Container {
	 height: 100%;
	 width: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .user-Dashboard-Container .sub-container {
	 height: 95%;
	 width: 80%;
	 border: 0.5px solid #c3c4c7;
	 box-sizing: border-box;
	 border-radius: 10px;
}
 .user-Dashboard-Container .sub-container .header {
	 height: 10%;
	 width: 100%;
	 border-bottom: 0.5px solid #c3c4c7;
	 display: flex;
	 justify-content: flex-start;
	 align-items: center;
}
 .user-Dashboard-Container .sub-container .header .text {
	 font-size: 20px;
	 font-weight: 600;
	 margin-left: 20px;
}
 .user-Dashboard-Container .sub-container .container-body {
	 height: 90%;
	 width: 100%;
	 display: flex;
	 justify-content: none;
	 align-items: none;
}
 .user-Dashboard-Container .sub-container .container-body .sidebar {
	 height: 100%;
	 width: 20%;
	 display: flex;
	 justify-content: none;
	 align-items: center;
	 flex-direction: column;
	 border-right: 0.5px solid #c3c4c7;
	 padding: 1%;
}
 .user-Dashboard-Container .sub-container .container-body .sidebar .menu-Option {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 15%;
	 width: 100%;
	 border: 0.5px solid #c3c4c7;
	 box-sizing: border-box;
	 margin: 2%;
	 font-size: 16px;
	 font-weight: 600;
}
 .user-Dashboard-Container .sub-container .container-body .sidebar .MuiButton-root {
	 text-transform: none;
}
 .user-Dashboard-Container .sub-container .container-body .main-body {
	 height: 100%;
	 width: 85%;
}
 .user-Dashboard-Container .sub-container .container-body .main-body .sub-MenuOption {
	 height: 100%;
	 width: 100%;
	 display: flex;
	 justify-content: none;
	 align-items: none;
	 flex-wrap: wrap;
	 padding: 1%;
}
 .itemMenu--content {
	 border: 0.5px solid #c3c4c7;
	 box-sizing: border-box;
	 height: 30%;
	 width: 30%;
	 margin: 1%;
	 border-radius: 10px;
}
 .itemMenu--content .current-Menu {
	 height: 100%;
	 width: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .font-families {
	 font-family: Helvetica;
}
 