@mixin height_width($height, $width) {
  height: $height;
  width: $width;
}

@mixin border($length, $type, $color, $border-box) {
  border: $length $type $color;
  box-sizing: $border-box;
}

@mixin flex($flex, $justify-content, $align-items) {
  display: $flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

.error {
  @include height_width(25%, 75%);
  //   @include border(0.5px, solid, #c3c4c7, border-box);
}

.user-detail-container {
  @include height_width(100%, 100%);
  @include flex(flex, center, center);
  background-color: #ffffff;

  .sub_Container {
    @include height_width(95%, 40%);
    @include border(0.5px, solid, #c3c4c7, border-box);
    border-radius: 10px;

    .header {
      @include height_width(15%, 100%);

      // @include border(0.5px, solid, lightgray, border-box);

      flex-direction: column;
      .lic-Header {
        @include height_width(50%, 100%);
        @include flex(flex, center, center);
        @extend .Font-style;
        font-weight: 600;
        font-size: 20px;
      }

      .user-Header {
        @include height_width(50%, 100%);
        @include flex(flex, center, center);
        @extend .Font-style;
        font-size: 18px;
        font-weight: 500;
      }
    }

    .user-Information {
      @include height_width(85%, 100%);
      @include flex(flex, center, center);
      flex-direction: column;
      .user-Name {
        @include height_width(14%, 100%);
        @include flex(flex, center, center);
        .user-Name-Text {
          @include height_width(100%, 30%);
          @include flex(flex, center, center);
          padding-bottom: 10px;
        }

        .user-Name-Input {
          @include height_width(100%, 70%);
          @include flex(flex, flex-end, center);
          //   @include border(0.5px, solid, lightgray, border-box);
          flex-direction: column;
        }
      }

      .user-Age {
        @include height_width(14%, 100%);
        @include flex(flex, center, center);
        .user-Age-Text {
          @include height_width(100%, 30%);
          @include flex(flex, center, center);
          padding-bottom: 10px;
        }

        .user-Age-Input {
          @include height_width(100%, 70%);
          @include flex(flex, flex-end, center);
          //   @include border(0.5px, solid, lightgray, border-box);
          flex-direction: column;
        }
      }

      .user-Gender {
        @include height_width(14%, 100%);
        @include flex(flex, center, center);
        .user-Gender-Text {
          @include height_width(100%, 30%);
          @include flex(flex, center, center);
          padding-bottom: 15px;
        }

        .user-Gender-Radio {
          @include height_width(100%, 70%);
          @include flex(flex, center, center);
          //   @include border(0.5px, solid, lightgray, border-box);
          flex-direction: column;
          .radiobutton1 {
            @include flex(flex, center, flex-end);
            // @include border(0.5px, solid, lightgray, border-box);
            flex-direction: row;
          }
        }
      }

      .user-Qualification {
        @include height_width(14%, 100%);
        @include flex(flex, center, center);
        .user-Qualification-Text {
          @include height_width(100%, 30%);
          @include flex(flex, center, center);
          padding-bottom: 10px;
        }

        .user-Qualification-Input {
          @include height_width(100%, 70%);
          @include flex(flex, flex-end, center);
          //   @include border(0.5px, solid, lightgray, border-box);
          flex-direction: column;
        }
      }

      .user-Address {
        @include flex(flex, center, center);
        @include height_width(14%, 100%);
        .user-Address-Text {
          @include height_width(100%, 30%);
          @include flex(flex, center, center);
          padding-bottom: 10px;
        }

        .user-Address-Input {
          @include height_width(100%, 70%);
          @include flex(flex, flex-end, center);
          //   @include border(0.5px, solid, lightgray, border-box);
          flex-direction: column;
        }
      }

      .user-Occupation {
        @include flex(flex, center, center);
        @include height_width(14%, 100%);
        .user-Occupation-Text {
          @include height_width(100%, 30%);
          @include flex(flex, center, center);
          padding-bottom: 10px;
        }

        .user-Occupation-Input {
          @include height_width(100%, 70%);
          @include flex(flex, flex-end, center);
          //   @include border(0.5px, solid, lightgray, border-box);
          flex-direction: column;
        }
      }

      .user-Information-Button {
        @include flex(flex, center, center);
        @include height_width(14%, 100%);
        .user-Back-Button {
          @include height_width(100%, 50%);
          @include flex(flex, center, center);
        }

        .user-Submit-Button {
          @include height_width(100%, 50%);
          @include flex(flex, center, center);
        }
      }
    }
  }
}

.Font-style {
  font-family: Helvetica;
}
